@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap&subset=latin-ext');
:root {
    --fontRoboto: 'Roboto', sans-serif;
    --fontOrbit: 'Orbitron', sans-serif;
    --fontElectro: 'Electrolize', sans-serif;
    --fontRale: 'Raleway', sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #17202A;
}

::-webkit-scrollbar-thumb {
    background: #0f4c75;
}

::-webkit-scrollbar-thumb:hover {
    background: #3282b8;
}
body{
    background-color: #1b262c;
    color: #fff;
}
.face{background-color: #737373!important;}
.container {
    max-width: 1300px;
    margin: auto;
}
header {
    padding-top: 16px;
    z-index: 2;
    position: relative;
}
header nav {
    position: fixed;
    width: 100%;
    top: 0;
    height: 70px;
    background-color:#17202A;
    display: flex;
    justify-content: space-between;
    z-index: 7;
}
header nav img {
    width: 90px;
    margin-left: 20px;
}
.menu ul:first-child {
    position: relative;
}
.menu ul li {
    display: inline-block;
    text-transform: uppercase;
    padding: 26px;
}
.menu ul li:hover {
    background-color: #3282b8;
    cursor: pointer;
}
.menu ul ul {
    display: none;
    position: absolute;
    text-align: center;
    padding-top: 26px;
    margin-left: -25px;
    width: 141px;
}
.menu li:hover ul {
    display: block;
}
.menu li:hover li {
    display: block;
    line-height: 40px;
    background-color: #0f4c75;
}
.menu ul ul li:hover {
    background-color: #3282b8;
}
.menu ul li a {
    font: 900 15px var(--fontRoboto);
    color: #fff;
}
.menu ul li a:hover {
    color: #fff;
}
header .navTools {
    margin-top: 27px;
    margin-right: 30px;
}
header .navTools .tool {
    display: inline;
    margin-left: 20px;
}
header .navTools i {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
header .navTools .siteMode,
header .navTools .language-pack {
    position: relative;
    display: inline-block;
}
header .navTools .mode,
.navTools .languages {
    display: none;
    position: absolute;
    background-color: #0f4c75;
    height: 100px;
    width: 40px;
    text-align: center;
    border-left: 2px solid #3282b8;
    border-right: 2px solid #3282b8;
    border-bottom: 5px solid #3282b8;
    border-radius: 15px;
    margin-left: -9px;
    padding-top: 5px;
}
header .navTools .siteMode:hover .mode,
.navTools .language-pack:hover .languages {
    display: block;
}
header .navTools .mode i {
    line-height: 40px;
}
header .navTools .mode i:hover {
    color: #3282b8;
    font-size: 27px;
}
header .navTools .languages a {
    font: 500 15px var(--fontRoboto);
    color: #fff;
    line-height: 30px;
    display:block;
}
header .navTools .languages a:hover {
    color: #3282b8;
    font-weight: 900;
    font-size: 17px;
}
.flex {
    display: flex;
    flex: 33%;
}
.member {
    min-width: 300px;
}
.member img {
    object-fit: cover;
    border-radius: 50%;
    height: 270px; 
    width: 270px; 
    margin: 10px 0;  
}
.face {
    transition: 0.5s;
}
#team{
    margin: 50px auto;
    max-width: 1000px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
#team div:first-child{
	width: 100%;
}
#team div{
    margin: 10px 0;
    padding: 15px 15px 10px 15px;
}
h1, p{
    margin: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#team .fas, #team .fab {
   margin: 5px;
   font-size: 30px;
}
.m-icons a{
    color:#0f4c75;
}
.photo{
    background-color: #0f4c75 !important;
    transform: translateY(120px);
}
.member:hover .photo{
    transform: translateY(0);
}
.member:hover .info{
    color: #fff;
    transform: translateY(0);
    background-color: #1b262c !important;
}
 .fa-envelope-square:hover{color: #d93025;}
 .fa-linkedin:hover{color: #0077b5;}
 .fa-github-square:hover{color: #24292e;}
 
footer {
    height: 372px;
    background-color: #0f4c75;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.footer-elements {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

footer .subject,
.footerMenu {
    margin-top: 50px;
    text-align: center;
}

footer ul li a {
    font: 600 20px var(--fontRoboto);
    color: #fff;
    line-height: 30px;
    letter-spacing: 2px;
}

footer ul li a:hover {
    color: #3282b8;
}

footer img {
    margin-top: 30px;
    width: 170px;
}

footer .subscribe {
    text-align: center;
}

footer .subscribe p {
    font: 700 20px var(--fontRoboto);
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

footer .subscribe input {
    border: none;
    outline: none;
    height: 30px;
    width: 230px;
    border-radius: 20px;
}

footer .subscribe input::placeholder {
    padding-left: 2px;
}

footer .subscribe input:empty {
    padding-left: 10px;
    font: 500 15px var(--fontRoboto);
}

footer .subscribe .submit {
    outline: none;
    cursor: pointer;
    background-color: #1b262c;
    color: #fff;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    font: 500 15px var(--fontRoboto);
}

footer .icons {
    text-align: center;
    margin-bottom: 10px;
}

footer .icons i {
    margin-top: 20px;
    font-size: 25px;
    margin-left: 25px;
    cursor: pointer;
    color: #fff;
}

footer .icons .fa-github:hover {
    color: #000;
}
.end {
    height: 50px;
    background-color: #17202A;
}
.end p {
    font: 500 14px var(--fontElectro);
    text-align: center;
    color: #fff;
    padding: 3px;
}
#toTop {
    position: fixed;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    font-size: 45px;
    color: #3282b8;
}